# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
env/

# Spyder project settings
.spyderproject
.spyproject

# Datasets in "input" folder
input/

# MacOS Files
.DS_Store